{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css" />
	<title>Evaluation</title>
{% endblock %}

{% block main %}

<div class = 'content-page'>

	<div class = 'vertical-center'>
	
		<div class = 'well'>

			<h1 class='middle-header'>مشاهده ی نتایج ارزیابی</h1>
				
			<blockquote class='darkBlock'>
				<ul class='evaluator-unordered' style = "list-style-image:none; list-style: square inside ;">
					
					{% for evaluation in evaluation_list %}
						<li class='person_member'>
							evaluation
						</li>
					{% endfor %}
					
					<li class='person_member'>
						 اکه یه رویتتیتی نوم تو باز تو گو ش من صدا کنه. دو بارع باز غمت بیادشما اصن عالی هستین
					</li>

					<li class='person_member'>
						اکه یه رویتتیتی نوم تو باز تو گو ش من صدا کنه. دو بارع باز غمت بیادشما اصن عالی هستین
					</li>						
					
				</ul>
			</blockquote>
			
		</div>
	</div>
</div>

{% endblock %}
