{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css" />
	<title>Evaluation</title>
{% endblock %}

{% block main %}

<div class = 'content-page'>

	<div class = 'vertical-center'>
	
		<div class = 'well'>

			<h1 class='middle-header'>افزودن کارمند</h1>
				
			<blockquote class='darkBlock'>
				<p class='xPara justify'>مدیر کل می تواند یک فرد جدید را به عنوان کارمند به سامانه اضافه کند. با وارد کردن نام و کد ملی، کارمند جدید اضافه می شود.
				</p>
			</blockquote>
				
			<div class='task-option'>
				<a class='order-option-link' href=""><span class='productButtons'>افزودن کارمند</span></a>
			</div>
				
			<h1 class='middle-header'>ارزیاب ها</h1>
				
			<blockquote class='darkBlock'>
				<p class='xPara justify'> یه چیزی درباره این بگو</p>
			</blockquote>
				
			<div class='task-option'>
				<a class='order-option-link' href=""><span class='productButtons'>ارزیاب ها</span></a>
			</div>		

			<h1 class='middle-header'>انتصاب ارزیاب به کارمندها</h1>
				
			<blockquote class='darkBlock'>
				<p class='xPara justify'> یه چیزی درباره این بگو </p>
			</blockquote>
				
			<div class='task-option'>
				<a class='order-option-link' href=""><span class='productButtons'>انتصاب ارزیاب به کارمندها</span></a>
			</div>

		</div>
	</div>
</div>

{% endblock %}
