{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css" />
	<title>View Employees</title>
{% endblock %}

{% block main %}

<div class = 'content-page'>

	<div class = 'vertical-center'>
	
		<div class = 'well'>

			<h1 class='middle-header'>لیست کارمندان</h1>
				
			<blockquote class='darkBlock'>
				<p class='xPara justify'>لیست کارمندان را در زیر مشاهده می کنید. می توانید با کلیک کردن بر روی اطلاعات هر فرد، اطلاعات وی را ویرایش کنید.</p>
			</blockquote>
			
			<div class= 'ObjectList'>
				<ul class='unordered'>
					
					{% for employee in object_list %}
						<li class='person_member'>
							<span class = 'employee-name'>{{ employee.name }}</span>
							<span class = 'employee-id'>{{ employee.national_id }}</span>
						</li>
					{% endfor %}
					
					
					<li class='person_member'>
						<span class = 'employee-name'>احمدرضا جدی</span>
						
						<span class = 'employee-id'>93105534</span>
					</li>
					<li class='person_member'>
						<span class = 'employee-name'> بره </span>
						
						<span class = 'employee-id'> گاو </span>
					</li>					
					<li class='person_member'>
						<span class = 'employee-name'> بره </span>
						
						<span class = 'employee-id'> گاو </span>
					</li>					
					
				</ul>
			</div>
			
			<div class='task-option'>
				<a class='order-option-link' href=""><span class='productButtons'>افزودن کارمند</span></a>
			</div>			
			
		</div>
	</div>
</div>

{% endblock %}