{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>Add Employee</title>
{% endblock %}

{% block main %}

    <div class='content-page'>

        <div class='vertical-center'>

            <div class='contain'>

                <h1 class='middle-header'>افزودن کارمند</h1>


                <p><label for="id_name">نام:</label> <input type="text" name="name" required id="id_name"
                                                            maxlength="100"/></p>
                <p><label for="id_national_id">کد ملی:</label> <input type="text" name="username" required
                                                                      id="id_national_id" maxlength="10"/></p>
                <p><label for="id_national_id">واحد:</label> <input type="text" name="unit" required id="unit_id"/></p>
                <p><label for="id_national_id">رمز عبور:</label> <input type="text" name="password" required
                                                                        id="password_id"/></p>

                <div class="button_holder">
                    <a class="order-option-link green_back" onclick="gather_data_and_send()"> ثبت </a>
                    <a class="order-option-link red_back" onclick="go_back()"> بازگشت </a>
                </div>
            </div>
        </div>
    </div>


    <script>

        function gather_data_and_send() {
            let name = document.getElementById('id_name').value;
            let username = document.getElementById('id_national_id').value;
            let unit = document.getElementById('unit_id').value;
            let password = document.getElementById('password_id').value;

            let data = {
                username: username,
                password: password,
                name: name,
                unit: unit,
            };

            let send_data = JSON.stringify(data);
            send_ajax_post('/management/addEmployee/', send_data, true);
        }
    </script>

{% endblock %}





    
