{% extends "manager_controls.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>RNP: Evaluators</title>
{% endblock %}

{% block main %}

    <div class='content-page'>
        <div class='vertical-center'>
            <div class="page_title">
                ارزیاب‌ها
            </div>

            <blockquote class='darkBlock'>
                <p class='xPara justify'>
                    می‌توانید کارمندان خود را به عنوان ارزیاب تعیین کرده و یا کارمندان ارزیاب را از ارزیاب بودن بردارید.
                </p>
            </blockquote>

            <div class='well'>

                <h1 class='middle-header'>ارزیابان فعلی</h1>

                {% if evaluators %}
                    <table id="quan_options">
                        <col width="48%">
                        <col width="42%">
                        <col width="10%">
                        <tr>
                            <th>نام کارمند</th>
                            <th>شماره‌ی ملی</th>
                            <th class="center_text">اقدام</th>
                        </tr>
                        {% for employee in evaluators %}
                            <tr>
                                <td>{{ employee.name }}</td>
                                <td>{{ employee.username }}</td>
                                <td>
                                    <form class='evaluator-forms' action="/management/manageEvaluators/remove/"
                                          method="post">
                                        <button class="order-option-link order_small red_back"
                                                onclick="this.parentNode.submit()">&nbsp;حذف&nbsp;
                                        </button>
                                        <input type="hidden" value="{{ employee.username }}" name="username">
                                    </form>
                                </td>
                            </tr>{% endfor %}
                    </table>
                {% else %}
                    <div class="center-empty-tag">کارمند ارزیابی وجود ندارد. اولین ارزیاب خود را اضافه کنید.</div>
                {% endif %}
            </div>

            <h1 class='middle-header'>کارمندان غیر ارزیاب</h1>

            {% if evaluatee %}
                <table id="quan_options">
                    <col width="48%">
                    <col width="42%">
                    <col width="10%">
                    <tr>
                        <th>نام کارمند</th>
                        <th>شماره‌ی ملی</th>
                        <th class="center_text">اقدام</th>
                    </tr>
                    {% for employee in evaluatee %}
                        <tr>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.username }}</td>
                            <td>
                                <form class='evaluator-forms' action="/management/manageEvaluators/add/" method="post">
                                    <button class="order-option-link order_small green_back"
                                            onclick="this.parentNode.submit()">اضافه
                                    </button>
                                    <input type="hidden" value="{{ employee.username }}" name="username">
                                </form>
                            </td>
                        </tr>{% endfor %}
                </table>
            {% else %}
                <div class="center-empty-tag">تمامی کارمندان ارزیاب هستند. کارمندی برای ارزیابی اضافه کنید.</div>
            {% endif %}


        </div>
    </div>

{% endblock %}
