{% extends "manager_controls.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>RNP: Methods</title>
{% endblock %}

{% block main %}

    <div class="content-page">
        <div class="vertical-center">

            <div class="page_title">
                روش‌های تشویق و تنبیه
            </div>

            <blockquote class='darkBlock'>
                <p class='xPara justify'>
                    می‌توانید روش‌های تشویق و تنبیه را برای معیار‌های ارزیابی مختلف اضافه کرده، تغییر داده و یا حذف کنید.
                    <br>
                    پس از اعمال تمامی تغییرات کافی‌است گزینه‌ی ثبت را انخاب کنید.
                </p>
            </blockquote>

            <div class="content-page">
                <label for="criterion_list">معیار ارزیابی</label>
                <select id="criterion_list" onchange="select_change()">
                    {% for criterion in criteria %}
                        <option id='{{ criterion.name }}_select'
                                value="{{ criterion.name }}">{{ criterion.name }}</option>
                    {% endfor %}
                </select>

                <hr>

                <div id='methods'>

                    {% for criterion in criteria %}

                        {% if forloop.counter0 == 0 %}
                            <label id='{{ criterion.name }}_reward_label'>پاداش</label>
                            {% if criterion.reward is None %}
                                <input id='{{ criterion.name }}_reward' type="text" value="">
                            {% else %}
                                <input id='{{ criterion.name }}_reward' type="text" value="{{ criterion.reward }}">
                            {% endif %}
                            <label id='{{ criterion.name }}_punishment_label'>تنبیه</label>
                            {% if criterion.punishment is None %}
                                <input id='{{ criterion.name }}_punishment' type="text" value="">
                            {% else %}
                                <input id='{{ criterion.name }}_punishment' type="text"
                                       value="{{ criterion.punishment }}">
                            {% endif %}

                            <div id='{{ criterion.name }}_clear_button' class="button_holder container">
                                <a class="order-option-link yellow_back" onclick="clear_rnp('{{ criterion.name }}')">
                                    پاک کردن </a>
                            </div>

                        {% else %}
                            <label id='{{ criterion.name }}_reward_label' style="display: none">پاداش</label>
                            {% if criterion.reward is None %}
                                <input id='{{ criterion.name }}_reward' type="text" style="display: none"
                                       value="">
                            {% else %}
                                <input id='{{ criterion.name }}_reward' type="text" style="display: none"
                                       value="{{ criterion.reward }}">
                            {% endif %}
                            <label id='{{ criterion.name }}_punishment_label' style="display: none">تنبیه</label>
                            {% if criterion.punishment is None %}
                                <input id='{{ criterion.name }}_punishment' type="text" style="display: none"
                                       value="">
                            {% else %}
                                <input id='{{ criterion.name }}_punishment' type="text" style="display: none"
                                       value="{{ criterion.reward }}">
                            {% endif %}


                            <div id='{{ criterion.name }}_clear_button' class="button_holder container"
                                 style="display: none">
                                <a class="order-option-link yellow_back" onclick="clear_rnp('{{ criterion.name }}')">
                                    پاک کردن </a>
                            </div>
                        {% endif %}

                    {% endfor %}

                    <div class="button_holder container">
                        <a class="order-option-link green_back" onclick="pack_and_submit()"> ثبت </a>
                        <a class="order-option-link red_back" onclick="go_back()"> بازگشت </a>
                    </div>

                </div>
            </div>
        </div>


    </div>

    <script>
        function clear_rnp(criterion_name) {
            document.getElementById(`${criterion_name}_reward`).value = '';
            document.getElementById(`${criterion_name}_punishment`).value = '';
        }

        function select_change() {

            let selected_name = document.getElementById('criterion_list').selectedOptions[0].label;

            let target_names = [
                `${selected_name}_reward`,
                `${selected_name}_reward_label`,
                `${selected_name}_punishment`,
                `${selected_name}_punishment_label`,
                `${selected_name}_clear_button`,
            ];

            let option_names = get_option_names();

            for (let index in option_names) {
                let name = option_names[index];
                if (target_names.includes(name)) {
                    document.getElementById(name).style.display = 'block';
                } else {
                    document.getElementById(name).style.display = 'none';
                }
            }
        }

        function get_option_names() {
            let option_names = [];

            let methods = document.getElementById('methods').children;
            for (let item in methods) {
                let id = methods[item].id;
                if (id !== '' && id !== undefined) {
                    option_names.push(id);
                }
            }

            return option_names;
        }

        function pack_and_submit() {
            let package_data = django_var_parse('{{ criteria }}');
            for (let index in package_data) {
                let criterion_name = package_data[index].name;
                let reward = document.getElementById(`${criterion_name}_reward`).value;
                let punishment = document.getElementById(`${criterion_name}_punishment`).value;
                package_data[index].reward = reward;
                package_data[index].punishment = punishment;
            }

            let send_data = JSON.stringify(package_data);
            send_ajax_post('/management/addrnp/', send_data, true);
        }

    </script>

{% endblock %}






