{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>Add Employee</title>
{% endblock %}

{% block main %}


    <div class="content-page">

        <div class="vertical-center">
            <label for="evaluator_list">کارمند ارزیابی کننده</label>
            <select id="evaluator_list" onchange="select_change()">
                {% for employee in evaluators %}
                    <option value="{{ employee.username }}">{{ employee.name }}-{{ employee.username }}</option>
                {% endfor %}
            </select>

            <hr>

            <label for="evaluatee_list">کارمند ارزیابی شونده</label>
            <select id="evaluatee_list" onchange="select_change()">
                {% for employee in evaluatees %}
                    <option value="{{ employee.username }}">{{ employee.name }}-{{ employee.username }}</option>
                {% endfor %}
            </select>

            <div class="button_holder container">
                <a class="order-option-link green_back" onclick="pack_and_submit()()"> ثبت </a>
                <a class="order-option-link red_back" onclick="go_back()"> بازگشت </a>
            </div>
        </div>
    </div>


    <script>
        function pack_and_submit() {
            let evaluator = document.getElementById('evaluatee_list').value;
            let evaluatee = document.getElementById('evaluator_list').value;

            let data = {
                evaluatee_username: evaluatee,
                evaluator_username: evaluator,
            };

            let send_data = JSON.stringify(data);

            send_ajax_post('/management/assignEvaluatorToEmployee/', send_data, true);
            console.log(send_data);
        }
    </script>

{% endblock %}






