{% extends "manager_controls.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>RNP: Assignments</title>
{% endblock %}

{% block main %}


    <div class="content-page">
        <div class="vertical-center">

            <div class="page_title">
                انتساب‌های ارزیابی
            </div>

            <label for="evaluator_list">کارمند ارزیابی کننده</label>
            <select id="evaluator_list" onchange="select_change()">
                {% for employee in evaluators %}
                    <option value="{{ employee.username }}">{{ employee.name }}-{{ employee.username }}</option>
                {% endfor %}
            </select>

            <hr>

            <label for="evaluatee_list">کارمند ارزیابی شونده</label>
            <select id="evaluatee_list" onchange="select_change()">
                {% for employee in evaluatees %}
                    <option value="{{ employee.username }}">{{ employee.name }}-{{ employee.username }}</option>
                {% endfor %}
            </select>

            <div class="button_holder container">
                <a class="order-option-link green_back" onclick="pack_and_submit()()"> ثبت </a>
                <a class="order-option-link red_back" onclick="go_back()"> بازگشت </a>
            </div>

            <hr>

            {% if assignments %}
                <table id="quan_options">
                    <col width="45%">
                    <col width="45%">
                    <col width="10%">
                    <tr>
                        <th>کارمند ارزیاب</th>
                        <th>کارمند ارزیابی شونده</th>
                        <th>اقدام</th>
                    </tr>
                    {% for assignment in assignments %}
                        <tr>
                            <td id="option_name">{{ assignment.evaluator_name }}</td>
                            <td id="start_value">{{ assignment.evaluatee_name }}</td>
                            <td class="center_text">
                                <button class="order-option-link order_small red_back"
                                        onclick="delete_assignment('{{ assignment.evaluator_username }}', '{{ assignment.evaluatee_username }}')">
                                    حذف
                                </button>
                            </td>
                        </tr>{% endfor %}
                </table>
            {% else %}
                <div class="center-empty-tag container">تا کنون انتسابی ثبت نشده است.</div>
            {% endif %}


        </div>
    </div>


    <script>
        function delete_assignment(evaluator, evaluatee) {
            let data = {'evaluatee_username': evaluatee, 'evaluator_username': evaluator};

            let send_data = JSON.stringify(data);

            console.log(send_data);

            send_ajax_post('/management/removeAssignment/', send_data, true);
        }

        function pack_and_submit() {
            let evaluatee = document.getElementById('evaluatee_list').value;
            let evaluator = document.getElementById('evaluator_list').value;

            let data = {
                evaluatee_username: evaluatee,
                evaluator_username: evaluator,
            };

            let send_data = JSON.stringify(data);
            send_ajax_post('/management/assignEvaluatorToEmployee/', send_data, true);
        }
    </script>

{% endblock %}






