{% extends "manager_controls.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>RNP: Employee Evaluations</title>
{% endblock %}

{% block main %}
    <div class="content-page">
        <div class="vertical-center">
            <div class="page_title">
                ارزیابی‌های کارمند
            </div>

            {% for evaluation in evaluation_list %}

                <div class="darkBlock">
                    <label for="criterion_name">نام معیار ارزیابی</label>
                    <input type="text" name="criterion_name" disabled value="{{ evaluation.name }}"><br>
                </div>

                <div class="darkBlock">

                    <label for="range_start" id="quan_option_label">معیار کمی</label>
                    <input type="text" name="quan_option" disabled value="{{ evaluation.quantitative }}"><br>

                    <label for="range_end" id="qual_option_label">معیار کیفی</label>
                    <input type="text" name="qual_option" disabled value="{{ evaluation.qualitative }}"><br>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}






