{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>Add Employee</title>
{% endblock %}

{% block main %}


    <div class="content-page">

        <div class="vertical-center">

            {% for criterion_name in criterion_names %}

                <div class="darkBlock">
                    <label for="criterion_name">نام معیار ارزیابی</label>
                    <input type="text" name="criterion_name" disabled value="{{ criterion_name }}"><br>
                </div>

                <a class="submitButton" href="/management/editCriterion/{{ criterion_name }}/"> مشاهده / ویرایش </a>
                <a class="submitButton" href="/management/removeCriterion/{{ criterion_name }}/"> حذف </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}






