{% extends "manager_controls.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>RNP: Criteria</title>
{% endblock %}

{% block main %}


    <div class="content-page">
        <div class="vertical-center">
            <div class="page_title">
                معیار‌های ارزیابی
            </div>

            {% for criterion_name in criterion_names %}



                <div class="button_holder container">

                    <label class="darkBlock criterion_label" disabled>{{ criterion_name }}</label><br>

                    <a class="order-option-link yellow_back" href="/management/editCriterion/{{ criterion_name }}/">
                        مشاهده /
                        ویرایش </a>
                    <a class="order-option-link red_back" href="/management/removeCriterion/{{ criterion_name }}/">
                        حذف </a>
                </div>
            {% endfor %}

            <hr>

            <div class="button_holder container">
                <a class="order-option-link green_back" href="/management/addCriterion/">افزودن معیار ارزیابی </a>
                <a class="order-option-link red_back" onclick="go_back()">بازگشت </a>
            </div>
        </div>

    </div>
{% endblock %}






