{% extends "manager_controls.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>RNP: Employees</title>
{% endblock %}

{% block main %}

    <div class='content-page'>
        <div class='vertical-center'>
            <div class="page_title">
                کارمندان
            </div>


            <div class='well'>

                <blockquote class='darkBlock'>
                    <p class='xPara justify'>لیست کارمندان را در زیر مشاهده می کنید. می توانید به این لیست کارمندان جدیدی اضافه کنید یا کارمندانی را از آن حذف کنید.</p>
                </blockquote>

                <table id="quan_options">
                    <col width="48%">
                    <col width="42%">
                    <col width="10%">
                    <tr>
                        <th>نام کارمند</th>
                        <th>شماره‌ی ملی</th>
                        <th>اقدام</th>
                    </tr>
                    {% for employee in employees %}
                        <tr>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.username }}</td>
                            <td class="center_text">
                                <button class="order-option-link order_small red_back"
                                        onclick="delete_employee({{ forloop.counter0 }}, this.parentNode)">حذف
                                </button>
                            </td>
                        </tr>{% endfor %}
                </table>


                <div class="button_holder container">
                    <a class='order-option-link green_back' href="/management/addEmployee/"><span
                            class='productButtons'>افزودن کارمند</span></a>
                    <a class='order-option-link red_back' onclick="go_back()"><span
                            class='productButtons'>بازگشت</span></a>
                </div>


            </div>
        </div>
    </div>


    <script>
        function delete_employee(index, element) {
            console.log(`view/update ${index}`);

            let package_data = django_var_parse('{{ employees }}');

            let data = {username: package_data[index].username};

            let send_data = JSON.stringify(data);

            send_ajax_post('/management/removeEmployee/', send_data, false);
            delete_dom_parent(element);
        }
    </script>

{% endblock %}
