{% extends "navbar_signedin.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/main.css"/>
    <title>View Employees</title>
{% endblock %}

{% block main %}

    <div class='content-page'>

        <div class='vertical-center'>

            <div class='well'>

                <h1 class='middle-header'>لیست کارمندان</h1>

                <blockquote class='darkBlock'>
                    <p class='xPara justify'>لیست کارمندان را در زیر مشاهده می کنید. می توانید با کلیک کردن بر روی
                        اطلاعات هر فرد، اطلاعات وی را ویرایش کنید.</p>
                </blockquote>

                <table id="quan_options">
                    <col width="48%">
                    <col width="42%">
                    <col width="10%">
                    <tr>
                        <th>نام کارمند</th>
                        <th>شماره‌ی ملی</th>
                        <th>اقدام</th>
                    </tr>
                    {% for employee in evaluatees %}
                        <tr>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.username }}</td>
                            <td class="center_text">
                                <a class="order-option-link order_small yellow_back"
                                   href="/eval/evaluationResult/{{ employee.username }}/">مشاهده</a>
                            </td>
                        </tr>{% endfor %}
                </table>


                <div class="button_holder container">
                    <a class='order-option-link red_back' onclick="go_back()"><span
                            class='productButtons'>بازگشت</span></a>
                </div>


            </div>
        </div>
    </div>


    <script>
        function delete_employee(index, element) {
            console.log(`view/update ${index}`);

            let package_data = django_var_parse('{{ employees }}');

            let data = {username: package_data[index].username};

            let send_data = JSON.stringify(data);

            send_ajax_post('/management/removeEmployee/', send_data, false);
            delete_dom_parent(element);
        }
    </script>

{% endblock %}
