<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles/navbar.css">
    <link href='http://www.fontonline.ir/css/BYekan.css' rel='stylesheet' type='text/css'>
    <!--	<link rel="stylesheet" type="text/css" href="static/styles/semantic.min.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="static/styles/semantic.min.js"></script>
    -->
    {% block head %}
    {% endblock %}
</head>
<body class="back_image">
<nav id="nav">
    {% block nav %}
    {% endblock %}
</nav>
<main>
    {% block main %}
    {% endblock %}
<div style="height: 30px"></div>
</main>
</body>

<script>

    function go_back() {
        window.history.back();
    }

    function cancel() {
        window.location = '/';
    }

    function send_ajax_post(url, data, redirect) {
        let xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);
        xhr.setRequestHeader("Content-type", "application/json");

        xhr.onreadystatechange = function () {
            if (redirect && xhr.readyState === 4 && xhr.status === 200) {
                window.location = xhr.responseURL;
            }
        };
        xhr.send(data);
    }

    function delete_dom(element) {
        let parent = element.parentNode;
        parent.removeChild(element);
    }

    function delete_dom_parent(element) {
        let parent = element.parentNode;
        let grand_parent = parent.parentNode;
        grand_parent.removeChild(parent);
    }

    function django_var_parse(string) {
        return JSON.parse(string.replace(/&#39;/g, '"'));
    }

</script>


{% block script %}
{% endblock %}


</html>
