{% extends "base.html" %}

{% block nav %}
    <a href="/" class="nav-link">صفحه‌ی اصلی</a>
    <a href="/management/viewCriterionDetailed/" class="nav-link">مشاهده معیارهای ارزیابی</a>
    <a href="/auth/logout/" class="nav-link red_hover">خروج</a>
{% endblock %}


{% block rightnav %}
    <a class="order-option-link sidenav_item" href="/management/listEmployees/">کارمندان</a>
    <a class="order-option-link sidenav_item" href="/management/manageEvaluators/view/">ارزیاب‌ها</a>
    <a class="order-option-link sidenav_item" href="/management/assignEvaluatorToEmployee/">انتساب‌های ارزیابی</a>
    <a class="order-option-link sidenav_item" href="/management/viewCriterion/">معیار‌‌های ارزیابی</a>
    <a class="order-option-link sidenav_item" href="/management/addrnp/">روش‌های تشویق و تنبیه</a>
    <a class="order-option-link sidenav_item" href="/management/viewEvaluation/">ارزیابی‌ها</a>
{% endblock %}
